 body {
    background-color: grey;
}
h1 {
    text-align: center;
    color: gold;

    background-color: black;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.summary {
    text-align: center;
    color: gold;
    background-color: black;
    
    font-size: 20px;


}
#add-gif {
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
    color: gold;
    outline: 2px dashed gold;
    background-color:black;
}
.container {
    border: 2px black;
    margin: auto;  
    padding: auto;   
}
form {
    text-align: center;
    color: gold;
    background-color: black;
    margin: auto;
    padding: auto;
}

.footer {
    background-color: black;
    color: gold;
    text-align: center;
    margin: auto;
    padding: auto;

}